/* Styling for the simple button */
.simple-button {
  color: rgb(0, 0, 0); 
  border: 0; 
  font-size: 18px; 
  outline: none; 
  padding: 0.278em 0.556em; 
  background: #ace; 
  border-radius: 0.22em;
  text-shadow: 0 -0.056em 0 rgba(0,0,0,.3); 
  box-shadow: 0 0.22em 0 #9cb8d8, 0 0.167em 1.11em rgba(0,0,0,0.3);
  cursor: pointer; 
}

/* Active state for the simple button */
.simple-button:active {
  text-shadow: 0 -0.056em 0 rgba(0,0,0,.1); 
  box-shadow: 0 0 0.556em rgba(0, 0, 0, 0.5) inset;
  position: relative; 
  top: 0.167em;
}

/* Additional styling for the simple button */
.simple-button {
  margin-left: 30px;
}

/* Medium size for the simple button */
.simple-button-md {
  font-size: 30px; 
}

/* Large size for the simple button */
.simple-button-lg {
  font-size: 50px; 
}

/* Styling for the resume link container */
.resumelink {
  display: flex; 
  justify-content: center; 
  padding: 15px; 
  padding-right: 30px;
}