/* Body styles */
body {
	overflow-y: auto; 
	-webkit-overflow-scrolling: touch; 
}

/* Image grid container styles */
.imageGrid {
	line-height: 0;
	width: 100%;
	display: flex; 
	flex-wrap: wrap; 
	justify-content: center;
}

/* Individual image tile styles */
.imageGrid .tile {
	width: calc(20.33% - 24px); 
	min-height: 20em;
	line-height: 1.2;
	margin: 12px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	color: #fff;
	font-family: "Verdana", sans-serif;
	text-shadow: 2px 2px 2px #000;
	cursor: pointer;
	cursor: hand;
	padding-right: 10px;
	border-radius: 2rem;
}

/* Overlay effect for image tiles */
.imageGrid .tile:before {
	content: '';
	background-color: rgba(15, 15, 15, 0.5);
	display: block;
	width: 100%;
	height: 100%;
	z-index: 0;
	position: absolute;
}

/* Hide overlay effect on hover */
.imageGrid .tile:hover:before {
	display: none;
}

/* Text wrapper styles for image tiles */
.imageGrid .tile .textWrapper {
	text-align: center;
	vertical-align: middle;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: .75em;
	color: #e5e5e5;
}

/* Hide content in text wrapper */
.imageGrid .tile .textWrapper .content {
	display: none;
}

/* Display content in text wrapper on hover */
.imageGrid .tile:hover .textWrapper .content {
	display: block;
}

/* Heading 2 styles */
.imageGrid .tile:hover .textWrapper .content h2 {
	margin: 0;
}

/* Heading 2 color */
h2 {
	color: #e5e5e5;
}

/* Media query for adjusting tile width on smaller screens */
@media (max-width: 1000px) {
	.imageGrid .tile {
	  width: calc(50% - 24px);
	}
}

/* Media query for adjusting tile width on even smaller screens */
@media (max-width: 430px) {
	.imageGrid .tile {
	  width: calc(100% - 24px); 
	}
}
