body {
	overflow: hidden;
  }
  
  .imageGrid {
	line-height: 0;
	width: 100%; /* Ensure the grid fills the entire width of its container */
	display: flex; /* Use flexbox for layout */
	flex-wrap: wrap; /* Allow tiles to wrap to the next line if necessary */
	justify-content: center;
  }
  
  .imageGrid .tile {
	width: calc(20.33% - 24px); /* Adjust width to include margins */
	min-height: 20em;
	line-height: 1.2;
	margin: 12px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	color: #fff;
	font-family: "Verdana", sans-serif;
	text-shadow: 2px 2px 2px #000;
	cursor: pointer;
	cursor: hand;
	padding-right: 10px;
	border-radius: 2rem;

	
  }
  
  .imageGrid .tile:before {
	content: '';
	background-color: rgba(15, 15, 15, 0.5);
	display: block;
	width: 100%;
	height: 100%;
	z-index: 0;
	position: absolute;
  }
  
  .imageGrid .tile:hover:before {
	display: none;
  }
  
  .imageGrid .tile .textWrapper {
	text-align: center;
	vertical-align: middle;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: .75em;
  }
  
  .imageGrid .tile .textWrapper .content {
	display: none;
  }
  
  .imageGrid .tile:hover .textWrapper .content {
	display: block;
  }
  
  .imageGrid .tile:hover .textWrapper .content h2 {
	margin: 0;
  }
  
  @media (max-width: 1000px) {
	.imageGrid .tile {
	  width: calc(50% - 24px); /* Adjust width for smaller screens */
	}
  }
  
  @media (max-width: 700px) {
	.imageGrid .tile {
	  width: calc(100% - 24px); /* Adjust width for even smaller screens */
	}
  }